<section class="advantages">
    <div class="advantages__title title">Наші переваги</div>
    <div class="advantages__items js-advantages-slider">
        <div>
            <div class="advantages__item">
                <div class="advantages__item-content">
                    <div class="advantages__item-title">Меблі преміум класу</div>
                    <div class="advantages__item-text">За 14 років на ринку меблів для дому ми стали надійними партнерами на
                        ринку Вінницької області та України</div>
                </div>
                <div class="advantages__item-img">
                    <img src="./img/01.png" alt="">
                </div>
            </div>
        </div>
        <div>
            <div class="advantages__item">
                <div class="advantages__item-content">
                    <div class="advantages__item-title">Надійність</div>
                    <div class="advantages__item-text">За 14 років на ринку меблів для дому ми стали надійними партнерами на
                        ринку Вінницької області та України</div>
                </div>
                <div class="advantages__item-img">
                    <img src="./img/02.png" alt="">
                </div>
            </div>
        </div>
        <div>
            <div class="advantages__item">
                <div class="advantages__item-content">
                    <div class="advantages__item-title">Безкоштовна доставка</div>
                    <div class="advantages__item-text">За 14 років на ринку меблів для дому ми стали надійними партнерами на
                        ринку Вінницької області та України</div>
                </div>
                <div class="advantages__item-img">
                    <img src="./img/03.png" alt="">
                </div>
            </div>
        </div>
        <div>
            <div class="advantages__item">
                <div class="advantages__item-content">
                    <div class="advantages__item-title">Меблі преміум класу</div>
                    <div class="advantages__item-text">За 14 років на ринку меблів для дому ми стали надійними партнерами на
                        ринку Вінницької області та України</div>
                </div>
                <div class="advantages__item-img">
                    <img src="./img/01.png" alt="">
                </div>
            </div>
        </div>
        <div>
            <div class="advantages__item">
                <div class="advantages__item-content">
                    <div class="advantages__item-title">Надійність</div>
                    <div class="advantages__item-text">За 14 років на ринку меблів для дому ми стали надійними партнерами на
                        ринку Вінницької області та України</div>
                </div>
                <div class="advantages__item-img">
                    <img src="./img/02.png" alt="">
                </div>
            </div>
        </div>
        <div>
            <div class="advantages__item">
                <div class="advantages__item-content">
                    <div class="advantages__item-title">Безкоштовна доставка</div>
                    <div class="advantages__item-text">За 14 років на ринку меблів для дому ми стали надійними партнерами на
                        ринку Вінницької області та України</div>
                </div>
                <div class="advantages__item-img">
                    <img src="./img/03.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>