<section class="contacts">
    <div class="contacts__title title">Залишились питання?</div>
    <div class="contacts__container">
        <div class="contacts__image">
            <img src="./img/contacts_bg.png" alt="">
        </div>
        <div class="container">
            <form action="" class="contacts__form">
                <div class="contacts__form-title">Замовте консультацію</div>
                <div class="contacts__form-items">
                    <input type="text" class="contacts__form-input" placeholder="Ім'я">
                    <input type="text" class="contacts__form-input" placeholder="Номер телефону">
                </div>
                <button class="contacts__form-btn btn">ВІдправити</button>
                <div class="contacts__form-text">Залиште заявку або телефонуйте за номером <span>(099) 111 22 33</span>, і наш менеджер звяжеться з вами для кваліфікованої консультації.</div>
            </form>
        </div>
    </div>
</section>