<header class="header" id="header">

    <div class="header__top">
        <div class="container">
            <div class="header__content">
                <div class="header__contacts">
                    <div class="header__social">
                        <div class="header__social-title">Ми в соціальних мережах:</div>
                        <div class="header__social-links">
                            <a href="#" class="header__social-link" target="_blank">
                                <img src="./img/icons/06 Social/Telegram.svg" alt="">
                            </a>
                            <a href="#" class="header__social-link" target="_blank">
                                <img src="./img/icons/06 Social/Facebook.svg" alt="">
                            </a>
                            <a href="#" class="header__social-link" target="_blank">
                                <img src="./img/icons/06 Social/Instagram.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <a class="header__phone" href="tel:+380991112233">
                        <img src="./img/icons/smartphone 1.svg" alt="">
                        <span>(099) 111 22 33</span>
                        <img src="./img/icons/chevron-right.svg" alt="">
                    </a>
                </div>
                <nav class="header__nav">
                    <div class="header__nav-link active"><a href="#">Головна</a></div>
                    <div class="header__nav-link"><a href="#">АкцІї</a></div>
                    <div class="header__nav-link"><a href="#">Доставка та оплата</a></div>
                    <div class="header__nav-link"><a href="#">про нас</a></div>
                    <div class="header__nav-link"><a href="#">контакти</a></div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__bottom">
            <include src="./partials/mobile-nav.html" />
            <div class="header__menu">
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">
                        <span>Дивани</span>
                        <img src="./img/icons/chevron-right.svg" alt="">
                    </a>
                </div>
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">
                        <span>ліжка</span>
                        <img src="./img/icons/chevron-right.svg" alt="">
                    </a>
                </div>
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">
                        <span>Крісла</span>
                        <img src="./img/icons/chevron-right.svg" alt="">
                    </a>
                </div>
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">
                        <span>комоди</span>
                        <img src="./img/icons/chevron-right.svg" alt="">
                    </a>
                </div>
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">
                        <span>шафи</span>
                        <img src="./img/icons/chevron-right.svg" alt="">
                    </a>
                </div>
                <div class="header__menu-item">
                    <a class="header__menu-link" href="#">
                        <span>Кухня</span>
                        <img src="./img/icons/chevron-right.svg" alt="">
                    </a>
                </div>
            </div>
            <a href="/" class="header__logo">
                <img src="./img/logo.svg" alt="">
            </a>
            <div class="header__bottom-right">
                <div class="header__cart">
                    <img src="./img/icons/shopping-cart 1.svg" alt="">
                    <span>Кошик</span>
                </div>
                <button class="header__btn btn">Замовити дзвінок</button>
            </div>
        </div>
    </div>
</header>