<main class="main">
    <div class="container">
        <div class="main__content">
            <div class="main__slider">
                <div class="js-main-slider">
                    <div>
                        <div class="main__card">
                            <div class="main__title">Новинка!</div>
                            <div class="main__subtitle">Ліжко Ornella</div>
                            <div class="main__text">Це новий рівень комфортного сну</div>
                            <a href="#" class="main__btn btn">Детальніше</a>
                        </div>
                    </div>
                    <div>
                        <div class="main__card">
                            <div class="main__title">Новинка!</div>
                            <div class="main__subtitle">Ліжко Ornella</div>
                            <div class="main__text">Це новий рівень комфортного сну</div>
                            <a href="#" class="main__btn btn">Детальніше</a>
                        </div>
                    </div>
                    <div>
                        <div class="main__card">
                            <div class="main__title">Новинка!</div>
                            <div class="main__subtitle">Ліжко Ornella</div>
                            <div class="main__text">Це новий рівень комфортного сну</div>
                            <a href="#" class="main__btn btn">Детальніше</a>
                        </div>
                    </div>
                    <div>
                        <div class="main__card">
                            <div class="main__title">Новинка!</div>
                            <div class="main__subtitle">Ліжко Ornella</div>
                            <div class="main__text">Це новий рівень комфортного сну</div>
                            <a href="#" class="main__btn btn">Детальніше</a>
                        </div>
                    </div>
                </div>
                <div class="main__slider-bottom">
                    <div class="paging-info"></div>
                    <div class="main__arrows"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main__bg">
        <img src="./img/main_bg.png" alt="">
    </div>
</main>